*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ccee0c;
}
body{
   
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #a11313c9;

}

.container{
  position: relative;

}
.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color:#0f0f0fc9;
    border: 8px solid rgba(211, 196, 196, 0.938);
    box-shadow: 0px 0px 50px rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;

}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.clock::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #d6ec0c;
    z-index: 2;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position:absolute;
    background-color: var(--clr);
    width: var(--ht);
    height: var(--h);
    border-radius: 20px;
}
h1{
    color: yellow;
    margin: 0px 50px 0px 0px;
    font-size: 50px;
    background-color:#0f0f0fc9;
    border: 8px solid rgba(211, 196, 196, 0.938);

    padding: 20px;
    border-radius: 40px 0px 0px 40px;
    box-shadow:0px 0px 30px rgba(15, 14, 14,0.2);
}
